<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocScan</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>

<body>
    <header>
        <h1>The odd team project</h1>
    </header>
    <section id="sec1" class="about">
        <p>
            Our aim is to create a web application that eradicates the error of uploading signature in place of a person's photo and vice-versa.
            The people who take up exams like CITS etc dont have much of technical knowledge and they are prone to make mistakes like this.
            Our web app makes sure that those errors are eradicated as much as possible.
        </p>
    </section>
    <section id="sec2" class='upload'>
        <h1>Upload files</h1>
        <br>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="input-box">
                <label for="name">Name:</label>
                <br>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="input-box">
                <label for="age">Age:</label>
                <br>
                <input type="text" name="age" id="age" required>
            </div>
            <div class="input-box">
                <label for="sex">Sex:</label>
                <br>
                <select name="sex" id="sex">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="others">Others</option>
                </select>
            </div>
            <div class="input-box">
                <label for="img">Passport size photo:</label>
                <input type="file" name="img" accept="image/*" id="img">
            </div>
            <div class="input-box">
                <label for="sign">Signature:</label>
                <input type="file" name="sign" accept="image/*" id="sign">
            </div>
            <div class="input-box">
                <input type="submit" value="Submit">
            </div>
        </form>
    </section>
    <section id="sec3" class="result">
        You have uploaded correctly
    </section>
    <!-- <section id="sec4" class="ratings">
        <center>
            How will you rate our service on a scale of 1-10
            <br>
            <input type="range" min="1" max="10">
            <br>
            <button type="submit" form="form1" value="Submit">Submit</button>
        </center>
    </section> -->

</body>

</html>