<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocScan</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>

<body>
    <header>
        <h1>The odd team project</h1>
    </header>
    <section id="sec1" class="about">
        <p>
            Our aim is to create a web application that eradicates the error of uploading signature in place of a person's photo and vice-versa.
            The people who take up exams like CITS etc dont have much of technical knowledge and they are prone to make mistakes like this.
            Our web app makes sure that those errors are eradicated as much as possible.
        </p>
    </section>
    <section id="sec2" class='upload'>
        <form action="" method="post" enctype="multipart/form-data">
            <label for="name">name</label>
            <input type="text" name="name" id="name">
            <br>
            <label for="age">age</label>
            <input type="text" name="age" id="age">
            <br>
            <input type="radio" name="sex" id="sex_male" value="male">Male</input>
            <input type="radio" name="sex" id="sex_female" value="female">Female</input>
            <input type="radio" name="sex" id="others" value="others">Others</input>
            <br>
            <input type="file" name="img" accept="image/*">
            <br>
            <input type="file" name="sign" accept="image/*">
            <br>
            <input type="submit" value="Submit">
        </form>
    </section>
    <section id="sec3" class="result">
        You have uploaded correctly
    </section>
    <!-- <section id="sec4" class="ratings">
        <center>
            How will you rate our service on a scale of 1-10
            <br>
            <input type="range" min="1" max="10">
            <br>
            <button type="submit" form="form1" value="Submit">Submit</button>
        </center>
    </section> -->

</body>

</html>