<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocScan</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
    <style>
        body{
        margin-top : 0px;
        margin-left: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    </style>
</head>

<body>
    <section id="sec1" class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac felis consequat,
        congue ante vitae, congue nulla. Ut ut nulla.</section>
    <section id="sec2" class='upload'>
        <form>
            <center>
            <label for="">Name</label>
            <input type="text" name="" id=""><br>
            <label for="">Age</label>
            <input type="text" name="" id=""><br>
            <input type="radio" name="sex" id="">
            <label for="">MALE</label>
            <input type="radio" name="sex" id="">
            <label for="">FEMALE</label>
            <input type="radio" name="sex" id="">
            <label for="">OTHERS</label><br>
            <input type="file" accept="image/*"><br>
            <button type="submit" form="form1" value="Submit">Submit</button>
        </center>
        </form>
    </section>
    <section id="sec3" class="result">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac felis consequat,
        congue ante vitae, congue nulla. Ut ut nulla.</section>
    <section id="sec4" class="ratings">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac felis
        consequat, congue ante vitae, congue nulla. Ut ut nulla.</section>

</body>

</html>