@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

:root {
    --brown1: #FFFBE9;
    --brown2: #E3CAA5;
    --brown3: #CEAB93;
    --brown4: #AD8B73;
    --black: rgb(36, 36, 36);
    --white: rgb(226, 226, 226);
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    height: 10vh;
    background-color: var(--brown4);
    display: flex;
    align-items: center;
}

header h1 {
    color: var(--black);
    padding-left: 1%;
    font-family: 'Amaranth', sans-serif;
}

section {
    height: 100vh;
}

.about {
    background-color: var(--brown1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.about p {
    padding: 1%;
    width: 50%;
    font-size: 1.5vw;
    font-family: 'Amaranth', sans-serif;
    border: 2px solid var(--brown2);
    border-radius: 10px;
}

.upload {
    background-color: var(--brown1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload form {
    border: 2px solid var(--brown2);
    border-radius: 10px;
    padding: 3%;
}

.result {
    background-color: #ADC2A9;
}

.ratings {
    background-color: #99A799;
}