@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

:root {
    --brown1: #FFFBE9;
    --brown2: #E3CAA5;
    --brown3: #CEAB93;
    --brown4: #AD8B73;
    --black: rgb(36, 36, 36);
    --white: rgb(226, 226, 226);
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    height: 10vh;
    background-color: var(--brown4);
    display: flex;
    align-items: center;
}

header h1 {
    color: var(--black);
    padding-left: 1%;
    font-family: 'Amaranth', sans-serif;
}

section {
    height: 100vh;
}

.about {
    background-color: var(--brown1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.about p {
    padding: 1%;
    width: 50%;
    font-size: 1.5vw;
    font-family: 'Amaranth', sans-serif;
    border: 2px solid var(--brown2);
    border-radius: 10px;
}

.upload {
    background-color: var(--brown1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload form {
    /* height: 50%; */
    width: 25%;
    border: 2px solid var(--brown2);
    border-radius: 10px;
    padding: 1%;
    font-family: 'Amaranth', sans-serif;
}

.upload h1 {
    font-family: 'Amaranth', sans-serif;
}

.input-box {
    /* background-color: aqua; */
    margin-top: 1%;
    margin-bottom: 1%;
}

.input-box label {
    font-size: 1.4vw;
}
.input-box input, .input-box select {
    width: 100%;
    border: none;
    font-size: 1.7vw;
    padding: 1%;
    border-bottom: 2px solid var(--brown3);
}

.input-box input[type=submit] {
    border-radius: 10px;
    background-color: var(--brown4);
    border: none;
    /* border: 2px solid var(--brown3); */
}

.input-box input[type=file] {
    font-size: 1.2vw;
    border: none;
}

.result {
    background-color: #ADC2A9;
}

.ratings {
    background-color: #99A799;
}